.navstyle{
    background-color: rgba(23,162,184,.5);
}
.row1input{
    padding: 2em;
}
.allraw{
    background-color: rgba(255, 255, 255,0.45);
}
.row2satvend{
    padding-left: 35%;
    padding-bottom: 2em;
}
.row3satdep{
    padding-left: 35%;
    padding-bottom: 2em;
}
.row4satca{
    padding-left: 35%;
    padding-bottom: 2em;
}
.row5achat{
    padding-right: 10em;
    padding-left: 10em;
    padding-bottom: 2em;

    background-color: rgba(255, 255, 255,0.35);
    box-shadow: 5px 10px rgba(0,0,0,0.40);
}
.divbottom{
    background-color: rgba(255, 255, 255,0.10);
    padding-left: 40%;
    padding-top: 2em;
    padding-bottom: 2em;
}
